# bibliotecas base e pdi
numpy==1.26.4
matplotlib
opencv-contrib-python==4.8.1.78
Pillow

# ML e Deep Learning
scikit-learn
pandas
tensorflow

# computer vision avançada (YOLO)
ultralytics

# utilitários de download (Google Drive e Kaggle)
gdown
kagglehub
